header.header
    .container
        .row
            .col-12
                nav.navbar.navbar-expand-md.navbar-light
                    a.navbar-brand(href='#')
                        img(src='../img/general/logo.png' alt='logo')
                    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.ml-auto.py-4.py-md-0
                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.active
                                a.nav-link(href='#') Home
                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                a.nav-link(href='#') Services
                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                a.nav-link(href='#') Packages
                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                a.nav-link(href='#') About
                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                a.nav-link(href='#') Blog
