header.header
    .container-fluid
        .row
            .col-12
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href='#')
                        img(src='../img/general/logo.png' alt='logo')
                    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                        ul.toggle-lines
                            li.toggle-line
                            li.toggle-line
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.ml-auto.py-4.py-md-0
                            li.nav-item.px-lg-3.active
                                a.nav-link(href='#') Home
                            li.nav-item.px-lg-3
                                a.nav-link(href='#') Services
                            li.nav-item.px-lg-3
                                a.nav-link(href='#') Packages
                            li.nav-item.px-lg-3
                                a.nav-link(href='#') About
                            li.nav-item.px-lg-3
                                a.nav-link(href='#') Blog
                            li.nav-item.px-lg-3
                                a.btn.btn-outline-danger(href="#") Login
                            li.nav-item.px-lg-3
                                a.btn.btn-danger(href="#") Free Trial
