.section-hero {
    background: url("../img/general/hero-bg.png") no-repeat 20% 48%;
    background-size: 50%;
    min-height: 100vh;
    .jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background: transparent;
    }
}

