section.section.section-hero
    .container
        .row
            .col-md-5
                img.img-fluid(src="img/general/white-ph.png", alt="iphone")
            .col-md-6.offset-1
                .jumbotron.my-auto
                    h1.text-dark.display-4 Native #[b Apps] #[br] for #[b Pro-Business].
                    p Trusted by #[b  minion customers.] Nunc eget porttitor risus. Vivamus laoreet, neque et pellentesqu...
                    p
                        a.btn.btn-danger.btn-lg.text-uppercase(href='#', role='button') Start my free trial

