section.section.social
    .container
        .row.mb-md-5
            .offset-2.col-8
                h2.section-title.text-center Truly #[b Native]. No #[b Runtime].
                p.section-descr.text-center Platform means instant collaboration for your whole team. From start to finish,
                    | you’re working together better than ever before.

        .row
            .col-md-3.pt-md-5.my-auto
                ul.social-list.social-list__left
                    li.social-item
                        .social-icon
                            svg.svg
                                use(xlink:href='#icon-pin ')
                        .social-descr
                            h6 Instagram
                            p.text-uppercase News feed
                    li.social-item
                        .social-icon
                            svg.svg
                                use(xlink:href='#icon-pin ')
                        .social-descr
                            h6 Pinterest
                            p.text-uppercase Pinned
                    li.social-item
                        .social-icon
                            svg.svg
                                use(xlink:href='#icon-ytb')
                        .social-descr
                            h6 YouTube
                            p.text-uppercase Video


            .col-md-6
                img.img-fluid(src="img/general/graphics.png")
            .col-md-3.pt-md-5.my-auto
                ul.social-list.social-list__right
                    li.social-item
                        .social-icon
                            svg.svg
                                use(xlink:href='#icon-whp')
                        .social-descr
                            h6 What’s App
                            p.text-uppercase Chatting
                    li.social-item
                        .social-icon
                            svg.svg
                                use(xlink:href='#icon-twt')
                        .social-descr
                            h6 Twitter
                            p.text-uppercase News feed
                    li.social-item
                        .social-icon
                            svg.svg
                                use(xlink:href='#icon-slck')
                        .social-descr
                            h6 Slack
                            p.text-uppercase Messaging
