section.section.mobile
    .container
        .row
            .col-md-4.my-auto
                .jumbotron.px-0
                    h3.section-title Making #[b Mobile] Your #[br] Work #[b for You]
                    ul.icons
                        li.text-danger

                            i.fab.fa-apple
                            p iOS
                        li.text-danger
                            i.fab.fa-android
                            p Android
                        li.text-danger
                            i.fab.fa-firefox
                            p Web

            .col-md-7.offset-1
                img.img-fluid(src="img/general/mobile-img.png", alt="img")

