extends layouts/default
include helpers/mixins

block variables
	- const title = "Elergit - web design and development"

block content
	include ../blocks/modules/header/header

block scripts
	script(src="../js/main.js")
