.tool {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    i {
        font-size: 4.375rem;
        margin-bottom: 1rem;
    }
    &-title {
        color: $title-color;
    }
    p{
        color: $body-color;
    }
    &:hover {
        cursor: pointer;
        text-decoration: none;
        background: $red;
        .tool-title,
        .fa-gradient,
        p {
            color: $white;
        }
        .fa-gradient{
            -webkit-background-clip: text;
            -webkit-text-fill-color: $white;
        }
    }
}
