section.section.section-tools
    .container
        .row.mb-md-3
            .offset-2.col-8
                h2.text-center The
                    b  Effective tools
                p.text-center The business cerrent account that is your accounting software. A simple way to run your bussiness.
                    |  Lorem ipsum dolor sit amet, consectet adipiscing elit, sed diam nonummy. Nibh euismod tincidunt ut laoreet.

        .row
            .col-3
                a(href="#").tool.text-center
                    i.fas.fa-water.fa-gradient
                    h6.tool-title Unlimited Bandwidth
                    p Duis aute irure dolor in dosis amet reprehenderit in.
            .col-3
                a(href="#").tool.text-center
                    i.fas.fa-layer-group.fa-gradient
                    h6.tool-title Cloud Data Saved
                    p Duis aute irure dolor in dosis amet reprehenderit in.
            .col-3
                a(href="#").tool.text-center
                    i.far.fa-chart-bar.fa-gradient
                    h6.tool-title Intelligent Chart
                    p Duis aute irure dolor in dosis amet reprehenderit in.
            .col-3
                a(href="#").tool.text-center
                    i.fas.fa-users.fa-gradient
                    h6.tool-title Multiple Managers
                    p Duis aute irure dolor in dosis amet reprehenderit in.
