section.section.section-tools
    .container
        .row
            .offset-2.col-8
                h2.text-center The
                    b  Effective tools
                p.text-center The business cerrent account that is your accounting software. A simple way to run your bussiness.
                    |  Lorem ipsum dolor sit amet, consectet adipiscing elit, sed diam nonummy. Nibh euismod tincidunt ut laoreet.

        .row
            .col-4
                .tool

