section.section.section-comp
    .container
        .row
            .col-md-6
                .jumbotron.my-auto
                    h3.section-title #[b Leverage] Your #[br] Company's #[b Data]
                    p.section-descr Allow your workforce to access data on-the-go. Connect data sources from enterprise systems or
                        | your own custom backend, all using Dropsource's robust REST API integration system.
                    ul.icons
                        li
                            .icons-icon
                                span.badge.badge-pill.badge-success new
                                i.fa.fa-shield.fa-gradient
                            p.icons-title Security
                        li
                            .icons-icon
                                i.fa.fa-bell-o.fa-gradient
                            p.icons-title Notification
                        li
                            .icons-icon
                                i.fa.fa-wifi.fa-gradient
                            p.icons-title Connect

            .col-md-6
                img.img-fluid(src="img/general/white-ph.png", alt="iphone")

