section.section.trial
    .container
        .row.mb-md-3
            .offset-2.col-8
                h2.text-center Turn Your Team into #[b Mobile Experts] #[b Start your free trial] now!
                p.text-center Outset integrates Pinion P1.9 XR transmission with 9 real gears for pedaling.
        .row
            .offset-4.col-2
                a.w-100(href="#")
                    svg.w-100
                        use(xlink:href='#download-appstore')
            .col-2
                a.w-100(href="#")
                    svg.w-100
                        use(xlink:href='#download-gplay')
        .row
            .col-12.trial-phone
                img.img-fluid.trial-phone-placehld(src="img/general/ph-hor-placeholder.png")
                img.img-fluid(src="img/general/ph-horizontal.png")
