section.section.trade
    .container
        .row.mb-md-3
            .offset-2.col-8
                h2.text-center Low #[b trade fees]
                p.text-center Platform means instant collaboration for your whole team. From start to finish, you’re working together better than ever before.

        .row
            .col-4
                .tool.text-center
                    i.fas.fa-water.fa-gradient
                    h6.tool-title Unlimited Bandwidth
                    p Duis aute irure dolor in dosis amet reprehenderit in.
                    a(href="#").btn.btn-outline-secondary Learn more
            .col-4
                .tool.text-center
                    i.fas.fa-layer-group.fa-gradient
                    h6.tool-title Cloud Data Saved
                    p Duis aute irure dolor in dosis amet reprehenderit in.
                    a(href="#").btn.btn-outline-secondary Learn more
            .col-4
                .tool.text-center
                    i.far.fa-chart-bar.fa-gradient
                    h6.tool-title Intelligent Chart
                    p Duis aute irure dolor in dosis amet reprehenderit in.
                    a(href="#").btn.btn-outline-secondary Learn more
