.footer {
    &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    a,
    p {
        font-size: 0.875rem;
        color: $secondary;
    }
    &-socials {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        a {
            font-size: 1.25rem;
            color: $gray-500;
            margin: 0 .5rem;
        }
    }
}
