footer.footer
    .container
        .row.mb-md-5
            .col-md-2
                img(src='../img/general/logo.png' alt='logo')
            .col-md-2
                .footer-pad
                    h5.mb-md-5 Developers
                    ul.list-unstyled
                        li
                            a(href='#') Documentation
                        li
                            a(href='#') REST API

            .col-md-2
                .footer-pad
                    h5.mb-md-5 Agencies
                    ul.list-unstyled
                        li
                            a(href='#') Wholesale
                        li
                            a(href='#') Referral
            .col-md-2
                .footer-pad
                    h5.mb-md-5 Company
                    ul.list-unstyled
                        li
                            a(href='#') About us
                        li
                            a(href='#') Contact us
                        li
                            a(href='#') Careers
            .col-md-4
                .footer-pad
                    h5.mb-md-5 Newsletter
                    ul.list-unstyled
                        li.mb-3
                            p Get our latest news right in your mailbox
                        li
                            .input-group.mb-3
                                .input-group-prepend
                                    span.input-group-text
                                        i.far.fa-envelope
                                input.form-control(type='email', placeholder='E-mail address', aria-label='E-mail address')
                                .input-group-append
                                    button.btn.btn-danger(type='button')
                                        i.fas.fa-arrow-circle-right
        .footer-bottom.border-top.py-3
            p.mb-md-0 © 2018 #[span.text-danger Outset].  ·  Privacy Policy  ·  Terms of Use
            ul.footer-socials.list-unstyled
                li
                    a(href='#')
                        i.fas.fa-rss
                li
                    a(href='#')
                        i.fab.fa-telegram-plane
                li
                    a(href='#')
                        i.fab.fa-bitcoin
                li
                    a(href='#')
                        i.fab.fa-github
                li
                    a(href='#')
                        i.fab.fa-facebook-f
                li
                    a(href='#')
                        i.fab.fa-twitter
                li
                    a(href='#')
                        i.fab.fa-linkedin
                li
                    a(href='#')
                        i.fab.fa-vk
