html,
body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

//.container { // we use bootstrap grid
//    @include container();
//    @include sm(max-width, 510px);
//    @include md(max-width, 690px);
//    @include lg(max-width, 930px);
//    @include xl(max-width, 1110px);
//}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section {
    display: flex;
    width: 100%;
    min-height: 50vh;
    padding-top: 70px;
}

.fa-gradient {
    background: -webkit-gradient(linear, left top, right bottom, from($red), to($orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
