.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 434px;
    height: 806px;
    background: url("../img/sprites/sprite.svg#iphone-white") center center no-repeat;
    background-size: cover;
    padding: 14px 14px 14px 30px;
    margin-right: auto;

    @include media-breakpoint-down(md) {
        width: 260px;
        height: 483px;
        margin: 0 auto;
        padding: 10px 10px 10px 22px;
    }
    @include media-breakpoint-down(sm) {
    }
    .video-content {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: -1;
        width: 370px;
        height: 100%;
        text-align: center;
        overflow: hidden;
        border-radius: 5%;
        background: $black;
        box-shadow: -25px 30px 40px grey;
    }
    video {
        min-width: 120%;
        height: 100%;
    }
}
